/* General Styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@700&family=Pacifico&display=swap");

body {
  font-family: "Mori";
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;
  /* background-image: url("../images/secondpink.jpg"); */
  color: #333;
  align-items: center;
  position: absolute;
  justify-content: center;
}

/* Header */
#header {
  background: #f093be;
  color: white;
  text-align: center;
  padding: 20px 0;
  border-bottom: 5px solid #e32652;
  margin-bottom: 20px;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  white-space: nowrap;
  text-align: center;
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background: white;
  animation: blink 0.8s infinite;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

title {
  flex-grow: 1; /* Pushes text to the center */
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

/* Navigation */
nav {
  margin: 20px 0;
  text-align: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #ff6f91;
  font-weight: bold;
  border: 2px solid transparent;
  padding: 5px 15px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #ff6f91;
  color: white;
  border-color: #ff6f91;
}

/* Container */
.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.project {
  max-width: 900px;
  width: 400px;
  height: auto;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 10px #ff6f91;
  border-radius: 20px;
}

.fun-facts-header {
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 200px;
  margin-top: 50px;
}

.facts {
  display: none; /* hide by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ff6f91;
  padding: 1.5rem 2rem;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px; */
  z-index: 1000;
  max-width: 400vh;
  max-height: 200vh;
  overflow: auto;
  color: white;
}

.facts.show {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.facts button {
  width: 40px;
  height: 40px;
  padding-left: 10px;
  background-color: #ff6f91;
  border: none;
}

.overlay.show {
  display: block;
}

.facts#fact1 {
  display: show;
}

.facts#fact2 {
  display: none;
}

.facts#fact3 {
  display: none;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 20px; /* space between projects */
  padding: 20px;
}

h2 {
  color: #ff6f91;
  font-size: 1.8rem;
  text-align: center;
}

div#about-me {
  text-align: center;
  margin-top: 100px;
}

h2#about-me {
  color: #ff6f91;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 100px;
}

/* Photo Section */
.photo {
  text-align: center;
  margin-bottom: 20px;
}

.tooltip-box {
  position: absolute;
  background-color: #efcf14;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border-color: white;
  white-space: nowrap;
  font-size: 14px;
  display: none;
  margin-left: 13.5px;
  margin-top: 115px;
  pointer-events: none;
}

.tooltip-box-lime {
  position: absolute;
  background-color: #c6d223;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border-color: white;
  white-space: nowrap;
  font-size: 14px;
  display: none;
  margin-left: 200px;
  margin-top: 110px;
  pointer-events: none;
}

.tooltip-box-grapefruit {
  position: absolute;
  background-color: #f47470;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border-color: white;
  white-space: nowrap;
  font-size: 14px;
  display: none;
  margin-left: 415px;
  margin-top: 110px;
  pointer-events: none;
}

.project-text {
  margin-bottom: 20px;
}

#git {
  width: 3.5%;
  cursor: pointer;
}

#home {
  width: 9%;
  cursor: pointer;
}

#linkedin {
  width: 3%;
  height: auto;
  display: inline-block; /* Ensures no unnecessary space */
  cursor: pointer;
}

#resume {
  width: 10%;
  cursor: pointer;
}

#icon-header {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 20px;
  left: 10px;

  /* flex-direction: row; */
}

.mwg_effect000 {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
}

.mwg_effect000 .header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #323232;
  padding: 20px 25px;
  color: #bab8b9;
}
.mwg_effect000 .header div:nth-child(2) {
  font-size: 26px;
}
.mwg_effect000 .header div:last-child {
  display: flex;
  justify-content: flex-end;
}
.mwg_effect000 .button {
  font-size: 14px;
  text-transform: uppercase;

  border-radius: 24px;
  height: 48px;
  gap: 5px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  width: max-content;
}
.mwg_effect000 .button1 {
  background-color: #232323;
}
.mwg_effect000 .button2 {
  border: 1px solid #323232;
}

.mwg_effect000 .button img {
  width: 22px;
  height: auto;
  display: block;
}

.mwg_effect000 .medias {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
}
.mwg_effect000 .medias img {
  width: 11vw;
  height: 11vw;
  object-fit: contain;
  border-radius: 4%;
  display: block;
  pointer-events: none;
  will-change: transform;
}

@media (max-width: 768px) {
  .mwg_effect000 .header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  .mwg_effect000 .header div:nth-child(2) {
    display: none;
  }
  .mwg_effect000 .medias {
    gap: 2vw;
  }
  .mwg_effect000 .medias img {
    width: 18vw;
    height: 18vw;
  }
}

a {
  text-decoration: none; /* Removes underline */
  border: none; /* Removes any default borders */
  margin: 0; /* Removes any extra spacing around */
  padding: 0; /* Ensures no extra space inside */
  display: inline-block;
}

button {
  width: 100px;
  height: 60px;
  background: #e32652;
  color: white;
  font-family: "Ubuntu Mono", serif;
  font-size: 20px;
  /* border: 2px solid white; */
  /* border-radius: 8px; */
  cursor: pointer;
}

button.facts-button {
  width: 40px;
  height: 40px;
  background: #e32652;
  color: white;
  font-family: "Ubuntu Mono", serif;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
}

#experience {
  width: 200px;
  height: 60px;
}

button:hover {
  background: #f093be;
}

a img {
  display: block;
}

.image-button {
  cursor: pointer;
  width: 100px;
}

.image-button:hover {
  animation: bounce 0.5s ease-in-out;
}

.project:hover {
  animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.photo img {
  max-width: 20%;
  height: auto;
  border-radius: 50%;
  border: 5px solid #f093be;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.project-img img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border: 5px solid #f093be;
}

.project-img {
  text-align: center;
  margin-top: 20px;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: 5em;
  gap: 5em;
  align-items: center;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px 0;
  background-color: #e32652;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#lemon {
  width: 15%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  display: block;
}

#lime {
  width: 15%;
  height: auto;
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: block;
}

#grapefruit {
  width: 10%;
  height: auto;
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: block;
}

.split {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.6;
  opacity: 0;
}

.line {
  display: block;
  overflow: hidden;
}

.line span {
  display: inline-block;
  transform: translateY(100%);
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  nav a {
    margin: 0 10px;
    padding: 5px 10px;
  }
}

@font-face {
  font-display: block;
  font-family: Mori;
  font-style: normal;
  font-weight: 900;
  src: url(https://assets.codepen.io/16327/PPMori-SemiBold.woff) format("woff");
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
